.container {
    display: "flex";
    justify-content: space-between;
    flex-direction: "row";
    flex-wrap: "nowrap";
}

.title {
    float: left;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.menu {
    display: "flex";
    justify-content: center;
    flex-direction: "row";
    flex-wrap: "nowrap";
}
